/* doc.css enhancement
-------------------------------------------------- */
section > header:first-child {
    border-top: 1px dashed #555555;
}

section:first-child > header:first-child {
    border-top: 0px;
}

.table td small {
    color: #7F7F7F;
}

.config-kvp td:first-child {
    font-weight: normal;
}
.config-kvp tr:first-child td {
    padding-top: 8px;
    border-top: 0px;
}
.config-kvp td {
    padding: 0px;
    padding-left: 8px;
}


/* Ajax Loading Indicator
-------------------------------------------------- */
.ajax-loader {
    background-image: url("/assets/img/ajax-loader.gif");
    background-repeate: no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}


/* OpenLayers Twitter Bootstrap Hacks
-------------------------------------------------- */
#map-canvas img {
    max-width: none;
}

#map-canvas .olControlAttribution {
    bottom: 0px;
}


/* OpenLayers
-------------------------------------------------- */
.customEditingToolbar {
    float: right;
    right: 0px;
    height: 30px;
}
.customEditingToolbar div {
    float: right;
    margin: 5px;
    width: 24px;
    height: 24px;
}
.olControlNavigationItemActive {
    background-image: url("/assets/libs/openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -103px -23px;
}
.olControlNavigationItemInactive {
    background-image: url("/assets/libs/openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -103px -0px;
}
.olControlDrawFeaturePointItemInactive {
    background-image: url("/assets/libs/openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -77px 0px;
}
.olControlDrawFeaturePointItemActive {
    background-image: url("/assets/libs/openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -77px -23px ;
}
.olControlDrawFeaturePathItemInactive {
    background-image: url("/assets/libs/openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -51px 0px;
}
.olControlDrawFeaturePathItemActive {
    background-image: url("/assets/libs/openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -51px -23px ;
}
.olControlDrawFeaturePolygonItemInactive {
    background-image: url("/assets/libs/openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -26px 0px;
}
.olControlDrawFeaturePolygonItemActive {
    background-image: url("/assets/libs/openlayers/theme/default/img/editing_tool_bar.png");
    background-repeat: no-repeat;
    background-position: -26px -23px ;
}
.olControlModifyFeatureItemActive {
    background-image: url(/assets/libs/openlayers/theme/default/img/move_feature_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlModifyFeatureItemInactive {
    background-image: url(/assets/libs/openlayers/theme/default/img/move_feature_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlDeleteFeatureItemActive {
    background-image: url(/assets/libs/openlayers/theme/default/img/remove_point_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olControlDeleteFeatureItemInactive {
    background-image: url(/assets/libs/openlayers/theme/default/img/remove_point_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}